body {
    background-color:#1d2b3a ;
    height: 100%;
}

#game-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #0e0e0f;
}


.letter-container {
    width: 32px;
    height: 32px;
    border: 3px solid #fff;
    margin: 5px;
    gap: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}