body {
    background: #0e0e0f;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.key {
  background-color: #969696;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  font-weight: bold;
  cursor: pointer;
}

.key.validate {
    background-color: #4caf50;
    background-color:#1d2b3a ;
    height: 100%;
}

#game-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #eedbdb;
}


.letter-container {
    width: 32px;
    height: 32px;
    border: 3px solid #000000;
    margin: 5px;
    gap: 3px;
}

.rowkb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
