body {
    background: #0e0e0f;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.key {
  background-color: #969696;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  font-weight: bold;
  cursor: pointer;
}

.key.validate {
  background-color: #4caf50;
}
