body {
    margin: 0;
    min-height: 100vh;
    background: #0e0e0f;
    display: flex;

    justify-content: center;
    align-items: center;
}

header h1 {
    color: rgba(255, 255, 255, 0.829);    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 75px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


.keyboard {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.row {
    padding: 5px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.key {
  background-color: #969696;
  color: white;
  border: none;
  margin: 2px;
  border-radius: 6px;
  padding: 10px 14px;
  font-weight: bold;
  cursor: pointer;
}

.key:hover{
    background-color: #7a7a7a ;
}

.key.validate {
    background-color: #4caf50;
    height: 100%;
}

.key.validate:hover{
    background-color: #439b46;
}

#game-container {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #0e0e0f;
}


.letter-container {
    color: white;
    text-align: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #5f5e5e;
    border-radius: 6px;
    margin: 1px;
    gap: 1px;
    color: white;
}

.rowkb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.rowkb .key{
    width: 43px;
    height: 60px;
}

#validate{
    width: 90px;
    height: 60px;
}

#return{
    width: 90px;
    height: 60px;
}
.correct {
  background-color: green;
}

.present {
  background-color: orange;
}

.absent {
  background-color: red;
}
